.badge-color-greenlight {
    background-color: #78b678;
}

.badge-color-redlight {
    background-color: #dd7068;
}

.badge-color-bluelight {
    background-color: #68a5dd;
}

.badge-color-violetlight {
    background-color: #a868dd;
}

.badge-color-pinklight {
    background-color: #dd68d7;
}

.badge-color-orangelight {
    background-color: #dda168;
}

.badge-color7 {
    background-color: #dd7068;
}

.badge-color8 {
    background-color: #dd7068;
}

.badge-color9 {
    background-color: #dd7068;
}

.badge-color10 {
    background-color: #dd7068;
}

.badge-color12 {
    background-color: #dd7068;
}

.badge-color2 {
    background-color: #dd7068;
}