/* Colores rojos */

.badge-color-red {
    background-color: #F44336;
}

/* Colores rosas */
.badge-color-darkpink {
    background-color: #E91E63;
}

/* Colores púrpuras */
.badge-color-purple {
    background-color: #9C27B0;
}

.badge-color-lightpurple {
    background-color: #673AB7;
}

/* Colores azules */
.badge-color-blue {
    background-color: #3F51B5;
}

.badge-color-lightblue {
    background-color: #2196F3;
}

.badge-color-darkblue {
    background-color: #00008B;
}

/* Colores verdes */
.badge-color-darkgreen {
    background-color: #00796B;
}

.badge-color-green {
    background-color: #4CAF50;
}

.badge-color-lightgreen {
    background-color: #8BC34A;
}

/* Colores amarillos */
.badge-color-yellow {
    background-color: #FFEB3B;
}

.badge-color-darkyellow {
    background-color: #FFC107;
}

/* Colores naranjas */
.badge-color-orange {
    background-color: #FF9800;
}

.badge-color-darkorange {
    background-color: #FF5722;
}

/* Colores marrones */
.badge-color-brown {
    background-color: #795548;
}

/* Colores grises */
.badge-color-grey {
    background-color: #9E9E9E;
}

.badge-color-lightgrey {
    background-color: #E0E0E0;
}

.badge-color-silver {
    background-color: #C0C0C0;
}

/* Colores blancos y negros */
.badge-color-white {
    background-color: #FFFFFF;
}

.badge-color-black {
    background-color: #000000;
}

/* Otros colores */
.badge-color-turquoise {
    background-color: #00CED1;
}

.badge-color-fuchsia {
    background-color: #FF00FF;
}

.badge-color-gold {
    background-color: #FFD700;
}

.badge-color-lavender {
    background-color: #E6E6FA;
}

.badge-color-lime {
    background-color: #00FF00;
}

.badge-color-olive {
    background-color: #808000;
}

.badge-color-teal {
    background-color: #008080;
}

.badge-color-violet {
    background-color: #EE82EE;
}